<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99630014571-unao5ogkeo7nedvvh25rg1f354rl7evu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99630014571-unao5ogkeo7nedvvh25rg1f354rl7evu</string>
	<key>API_KEY</key>
	<string>AIzaSyBW9QNxYRonKKAKiuyjjdvE4uK9ljiY9hY</string>
	<key>GCM_SENDER_ID</key>
	<string>99630014571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joseph.TweeterHandler</string>
	<key>PROJECT_ID</key>
	<string>twitterhandler-5e981</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterhandler-5e981.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99630014571:ios:187f5ef30d029cf51a512e</string>
</dict>
</plist>